#map {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    background-image: url('background.svg');
}

h1 {
	color: white;
	font-size: 40px;
	padding: 0px;
	margin: 30px;
	text-align: center;
}

html {
    height: 100%;      
}